@*
    @using PagedList;
    @using PagedList.Mvc;
*@

@model IEnumerable<AngApp.Item>

@{
    Layout = null;
}
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

    <table class="table table-striped table-condensed" id="ItemTable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Desc</th>
                <th>Price</th>
                <th>Category</th>
                <th>Qty</th>
                <th>Date</th>
                <th>Expiry</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item_Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item_Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item_Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item_Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item_Qty)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Item_Date)*@
                        @if (item.Item_Date.HasValue)
                        {
                            @item.Item_Date.Value.ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Item_Expiry)*@
                        @if (item.Item_Expiry.HasValue)
                        {
                            @item.Item_Expiry.Value.ToString("dd/MM/yyyy")
                        }
                    </td>
                    <td>
                        <a class="btn btn-primary bt-sm" onclick="Edit('@Url.Action("AddorEdit","Item",new { id=@item.Item_Id})')"><i class="fa fa-pencil fa-lg"></i></a>
                        <a class="btn btn-danger" onclick="Delete('@Url.Action("Delete","Item",new { id=@item.Item_Id})')"><i class="fas fa-trash-o fa-lg"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @*<table class="table table-striped table-condensed" id="ItemTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Item_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Item_Desc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Item_Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Item_Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Item_Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Item_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Item_Expiry)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Item_Inactive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Desc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Expiry)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Inactive)
                        </td>
                        <td>
                            <a class="btn btn-primary bt-sm" onclick="Edit('@Url.Action("AddorEdit","Item",new { id=@item.Item_Id})')"><i class="fa fa-pencil fa-lg"></i></a>
                            <a class="btn btn-danger" onclick="Delete('@Url.Action("Delete","Item",new { id=@item.Item_Id})')"><i class="fas fa-trash-o fa-lg"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@

