@model AngApp.Models.EmpDesignation
@{
    ViewBag.Title = "Designation";
    Layout = "~/Views/Shared/SubTheme.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<div class="form-body">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.DG_ID)
        <div class="form-group">
            @Html.LabelFor(model => model.DG_CD)
            @Html.EditorFor(model => model.DG_CD)
            @Html.ValidationMessageFor(model => model.DG_CD)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DG_DESCRIPTION)
            @Html.EditorFor(model => model.DG_DESCRIPTION)
            @Html.ValidationMessageFor(model => model.DG_DESCRIPTION)
        </div>
        <div class="form-group">
            <input type="submit" value="submit" class="btn button" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }
</div>
@section scripts{
    <script>
    @Scripts.Render("~/bundles/jqueryval");
    $(function () {
    var SuccessMsg = '@TempData["SaveMessage"]';
    if (SuccessMsg !== '')
    alertify.success(SuccessMsg);
    });
    </script>
}
